{% extends 'layouts/base.html' %}
{% block title %}Create Project{% endblock %}

{% block 'content' %}
  <h2>Create Project</h2>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div>
      {{ project_form }}
    </div>
        <br>
    <div>
      <label>Images:</label>
      {{ image_form }}
    </div>
        <br>
    <div>
      <label>Tags:</label>
      {{ tag_form }}
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
{% endblock %}
