{% extends 'layouts/admin_base.html' %}
{% block title %}Confirm Project Deletion{% endblock %}
{% block 'content' %}
<div class="container">
    <h2 class="text-center mb-4">Confirm Project Deletion</h2>
    <div class="row">
        <div class="col-md-12">
            <p>Are you sure you want to delete the project "{{ project.title }}"?</p>
            <form action="{% url 'admin_delete_project' project.id %}" method="post">
                {% csrf_token %}
                <button type="submit" name="confirm_delete" value="yes" class="btn btn-danger">Yes, Delete</button>
                <a href="{% url 'report_details_admin' project.id %}" class="btn btn-secondary">No, Cancel</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}
