{% extends 'layouts/admin_base.html' %}
{% block title %}Administration - CrowdFunding WebApp{% endblock %}
{% block 'content' %}
<div class="container mt-4">
    <div class="row justify-content-between align-items-center">
        <div class="col-md-6">
            <div class="input-group">
                <input type="text" class="form-control form-control-lg" id="searchInput" placeholder="Search Projects">
            </div>
        </div>
        <!-- <div class="col-md-6">
            <div class="row align-items-center">
                <div class="col-md-3">
                    <div class="dropdown">
                        <button class="btn dropdown-toggle" type="button" id="filterByCatDropdown" data-bs-toggle="dropdown" aria-expanded="false">

                            Category
                        </button>
                       <div class="dropdown-menu" aria-labelledby="filterByCatDropdown">
                            <a class="dropdown-item category-option active" data-value="all">All</a>
                            {% for category in categories %}
                            <a class="dropdown-item category-option"  data-value="{{ category.id }}">{{ category.name }}</a>
                            {% endfor %}
                      </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="dropdown">
                        <button class="btn dropdown-toggle" type="button" id="filterByStatusDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                            Status
                        </button>
                        <div class="dropdown-menu" aria-labelledby="filterByStatusDropdown">
                            <a class="dropdown-item status-option active" data-value="all">All</a>
                            <a class="dropdown-item status-option"  data-value="active">Active</a>
                            <a class="dropdown-item status-option"  data-value="inactive">Inactive</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="dropdown">
                        <button class="btn dropdown-toggle" type="button" id="filterByFeaturedDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                            Featured
                        </button>
                        <div class="dropdown-menu" aria-labelledby="filterByFeaturedDropdown">
                            <a class="dropdown-item featured-option active" data-value="all">All</a>
                            <a class="dropdown-item featured-option"  data-value="featured">Featured</a>
                            <a class="dropdown-item featured-option"  data-value="not-featured">Not Featured</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="dropdown">
                        <button class="btn dropdown-toggle" type="button" id="filterByTagDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                            Tag
                        </button>
                        <div class="dropdown-menu" aria-labelledby="filterByTagDropdown">
                            {% for tag in tags %}
                            <div class="form-check">
                                <input class="form-check-input filter-checkbox tag-checkbox" type="checkbox" value="{{ tag.id }}" id="tag{{ tag.id }}">
                                <label class="form-check-label" for="tag{{ tag.id }}">{{ tag.name }}</label>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
    <div class="row mt-4" id="projectList">
        {% for project in projects %}
        <div class="col-md-6 mb-4 project-card" 
             data-category="{{ project.category }}"
             data-status="{{ project.status }}"
             data-featured="{% if project.is_featured %}featured{% else %}not-featured{% endif %}"
             data-tags="{% for tag in project.tags.all %}{{ tag.name }} {% endfor %}">
            <div class="card">
                <div id="carousel{{ project.id }}" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        {% for image in project.images.all %}
                        <div class="carousel-item {% if forloop.first %}active{% endif %}">
                            <img src="{{ image.url }}" class="d-block w-100" alt="Project Image">
                        </div>
                        {% endfor %}
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carousel{{ project.id }}" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carousel{{ project.id }}" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ project.title }}</h5>
                    <p class="card-text">Author: {{ project.creator }}</p>
                    <p class="card-text">Current Amount: {{ project.current_amount }}</p>
                    <p class="card-text">Total Target: {{ project.total_target }}</p>
                    <div class="d-flex align-items-center">
                        <button class="btn btn-transparent favorite-btn {% if project.is_featured %}text-danger{% endif %}" data-project-id="{{ project.id }}" data-update-url="{% url 'update_featured_status' project.id %}" style="font-size: 50px;">
                            {% if project.is_featured %}
                            &#9733; 
                            {% else %}
                            &#9734; 
                            {% endif %}
                        </button>
                        <span class="ml-2 {% if not project.is_featured %}d-inline{% else %}d-none{% endif %}">Mark as featured</span>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<script>
document.addEventListener("DOMContentLoaded", function() {
    const searchInput = document.getElementById('searchInput');
    // const categoryDropdown = document.getElementById('filterByCatDropdown');
    // const statusDropdown = document.getElementById('filterByStatusDropdown');
    // const featuredDropdown = document.getElementById('filterByFeaturedDropdown');
    // const tagCheckboxes = document.querySelectorAll('.tag-checkbox');
    // const projectList = document.getElementById('projectList');
    document.querySelectorAll('.favorite-btn').forEach(function(button) {
            button.addEventListener('click', function() {
                this.classList.toggle('text-danger');

                const markAsFeaturedText = this.parentElement.querySelector('span');
                if (markAsFeaturedText) {
                    markAsFeaturedText.classList.toggle('d-none');
                }
                const url = this.getAttribute('data-update-url');
                fetch(url, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}' 
                    }
                })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    console.log(data); 
                })
                .catch(error => {
                    console.error('There was an error!', error); 
                });
            });
        });
    searchInput.addEventListener('input', function() {
            const searchText = searchInput.value.toLowerCase();
            const projects = projectList.querySelectorAll('.project-card');
    
            projects.forEach(function(project) {
                const projectName = project.querySelector('.card-title').textContent.toLowerCase();
    
                if (projectName.includes(searchText)) {
                    project.style.display = 'block';
                } else {
                    project.style.display = 'none';
                }
            });
        });

    });
</script>
<!-- <script>
    document.addEventListener("DOMContentLoaded", function() {
        const searchInput = document.getElementById('searchInput');
        const categoryDropdown = document.getElementById('filterByCatDropdown');
        const statusDropdown = document.getElementById('filterByStatusDropdown');
        const featuredDropdown = document.getElementById('filterByFeaturedDropdown');
        const tagCheckboxes = document.querySelectorAll('.tag-checkbox');
        const projectList = document.getElementById('projectList');
    
        // Function to handle toggling selection and filtering projects
        function handleSelectionAndFiltering(element, filterType) {
            element.addEventListener('click', function() {
                // Toggle selected class
                this.classList.toggle('selected');
    
                // Remove 'selected' class from all siblings
                const siblings = Array.from(this.parentElement.children);
                siblings.forEach(sibling => {
                    if (sibling !== this) {
                        sibling.classList.remove('selected');
                    }
                });
    
                // Get selected values
                const selectedValues = Array.from(element.parentElement.querySelectorAll('.selected')).map(item => item.dataset.value);
    
                // Filter projects
                const projects = projectList.querySelectorAll('.project-card');
    
                projects.forEach(project => {
                    const value = project.dataset[filterType];
    
                    if (selectedValues.length === 0 || selectedValues.includes(value)) {
                        project.style.display = 'block';
                    } else {
                        project.style.display = 'none';
                    }
                });
            });
        }
    
        // Handle category selection and filtering
        handleSelectionAndFiltering(categoryDropdown, 'category');
    
        // Handle status selection and filtering
        handleSelectionAndFiltering(statusDropdown, 'status');
    
        // Handle featured selection and filtering
        handleSelectionAndFiltering(featuredDropdown, 'featured');
    
        // Function to handle tag checkbox selection and filtering
        function handleTagSelectionAndFiltering() {
            const checkedTags = Array.from(document.querySelectorAll('.tag-checkbox:checked')).map(checkbox => checkbox.value);
            
            const projects = projectList.querySelectorAll('.project-card');
            
            projects.forEach(project => {
                const projectTags = project.dataset.tags.split(' ');
                
                if (checkedTags.length === 0 || checkedTags.some(tag => projectTags.includes(tag))) {
                    project.style.display = 'block';
                } else {
                    project.style.display = 'none';
                }
            });
        }
    
        // Add event listener to tag checkboxes
        tagCheckboxes.forEach(checkbox => {
            checkbox.addEventListener('change', handleTagSelectionAndFiltering);
        });
    
        // Handle search input filtering
        searchInput.addEventListener('input', function() {
            const searchText = searchInput.value.toLowerCase();
            const projects = projectList.querySelectorAll('.project-card');
    
            projects.forEach(project => {
                const projectName = project.querySelector('.card-title').textContent.toLowerCase();
    
                if (projectName.includes(searchText)) {
                    project.style.display = 'block';
                } else {
                    project.style.display = 'none';
                }
            });
        });
    
    });
    </script> -->
    
             
                
  
    
{% endblock %}

