
body {
    position: relative; /* Required for positioning pseudo-element */
    background-image: url("/static/images/background.jpg");
    background-size: cover; /* Cover the entire background */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Prevent the background from repeating */
}

body::before {
    content: ""; /* Required for pseudo-element */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black color */
    z-index: -1; /* Ensure the pseudo-element is behind other content */
}


.text-center{
    text-align: center;
    color: white;
    font-size: 5rem;
}

.start-project {
    margin-top: 5%;
    margin-left: 42%;/* Add margin between the h1 blocks and the button */
    padding: 15px 30px; /* Padding */
    background-color: white; /* Button background color */
    color: green; /* Text color */
    border: none;
    border-radius: 5px; /* Border radius */
    font-size: 18px; /* Font size */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition */

}

.start-project:hover {
    background-color: rgba(0, 0, 0, 0.5); /* Darker background color on hover */
  }